{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>quitarStock</title>
{% endblock extrahead%}

{% block content %} 
<h1 class="display-3" id="title">Quitar stock</h1>
<div class="container formulario">
    <form method="POST" enctype="multipart/form-data">
 
        <!-- Security token -->
        {% csrf_token %}
     
        <!-- Using the formset -->
        <table class="table">
            {{ form.as_table }}
        </table>
         
        <input type="submit" value="Quitar" class="btn btn-success">
        <a type="button" class="btn btn-danger" href="{% url 'listar' %}">Cancelar</a>
    </form>   
</div>


{% endblock content%}